<%-include('nav')-%>
<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <center><h1>Account Summary page</h1><hr></center>
            
            
            <form>
                
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Account Number</label>
                  <input type="text" class="form-control"  name="acc">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Pin Number</label>
                    <input type="text" class="form-control"  name="pin">
                  </div>
                  
                <button type="submit" class="btn btn-primary" name="submit" value="Fund-Transfer">Account Summary</button>
            </form>
    
      </div>
   
      <div class="col-md-4">
           
          
          </div>

        
        
      </div>
    
    
</body> 
</html>