<%-include('nav')-%>
<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <h3>Welcome &emsp;  &emsp;  &emsp;  &emsp;  &emsp;  &emsp;  &emsp;  &emsp;  &emsp;  &emsp;  &emsp;  &emsp;  &emsp; <%=name%>   &emsp;  &emsp;  &emsp;  &emsp;  &emsp; 
        <a href="/" class="btn btn-danger">Logout</a>
    <div class="row">
        <center><h1><%=msg%></h1></center>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <center><h1>Balance-Check page.</h1><hr></center>
            
            <form>
                
                
                  
                <button type="submit" class="btn btn-primary" name="submit" value="Fund-Transfer">Balance-Check</button>
            </form>


        </div>
        <div class="col-md-2"></div>
    </div>
    
</body>
</html>