<%-include('nav')-%>
<hr>
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <img src="https://booksforbadal.com/wp-content/uploads/2022/03/Contact-Us-banner_1586952394.jpg" alt="" width="100%" height="300">
        </div>
        <div class="col-md-1"></div>
    </div><br>
    <div class="row">
        <div class="col-md-1"></div>  
        <div class="col-md-5">
            <img src="https://s3.envato.com/files/328344650/Sanja%20Pavlov%20-%20kafemat-8849.jpg"  class="img-thumbnail" alt="" width="100%" height="400">
        </div>
        <div class="col-md-5" style="background-color: rgb(215, 218, 199);color:black">
            <center><h1>Contact us</h1><hr></center>
            <p>For Domestic(India) Contact:<hr>
                1800 103 1906 (toll free)<hr>
                1800 220 229 (toll free)<hr><br>
                (022) - 40919191 (Chargeable number) 24X7<hr>
                +91 77867787987601 (WhatsApp number)<hr>
                Email : cgro.boi@bankofindia.co.in<hr>
                For NRI Contact:<hr>
                Helpline Number : +91 78798897880<hr>
                Email : nodejsproject@Bankofindia.Co.In</p>
            
        </div>
        <div class="col-md-1"></div>
    </div>


    
</body>
</html>