<%-include('nav')-%>
<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
   <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <center><h1>Create Account</h1><hr></center>
        <center><h3><%=msg%></h3></center>
        <hr>
        <form class="row g-3">
            <div class="col-12">
                <label  class="form-label">Enter Pin</label>
                <input type="password" class="form-control" id="inputPassword4" name="p">
              </div>
            <div class="col-md-6">
              <label  class="form-label">Name</label>
              <input type="name" class="form-control" id="inputEmail4" name="n">
            </div>
            <div class="col-md-6">
              <label  class="form-label">Fname</label>
              <input type="fname" class="form-control" id="inputPassword4" name="pass">
            </div>
            <div class="col-md-6">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4" name="e">
              </div>
              <div class="col-md-6">
                <label  class="form-label">Phone</label>
                <input type="phone" class="form-control" id="inputPassword4" name="ph">
              </div>
            <div class="col-12">
              <label class="form-label">Gender</label>
              <input type="text" class="form-control" id="amount" name="g" >
            </div>
            
            <div class="col-md-6">
              <label class="form-label">City</label>
              <input type="text" class="form-control" id="inputCity" name="ci">
            </div>
            <div class="col-md-4">
              <label class="form-label">State</label>
              <input type="text" class="form-control" id="inputCity" name="st">
            </div>
            <div class="col-md-2">
              <label  class="form-label">Country</label>
              <input type="text" class="form-control" id="inputCity" name="c">
            </div>

            <div class="col-12">
              <label class="form-label">Amount</label>
              <input type="text" class="form-control" id="amount" name="a" >
            </div>

            <div class="col-12">
              <button type="submit" class="btn btn-primary" name="submit" value="submit">Create account</button>
            </div>
          </form>
        
    </div>
    <div class="col-md-1"></div>
   </div>
    
</body>
</html>