<%-include('nav')-%>
<!DOCTYPE html>
<html lang="en">
<head>
  
</head>
<body>
  <h3>Welcome &emsp;  &emsp;  &emsp;  &emsp;  &emsp;  &emsp;  &emsp;  &emsp;  &emsp;  &emsp;  &emsp;  &emsp;  &emsp; <%=name%>   &emsp;  &emsp;  &emsp;  &emsp;  &emsp; 
    <a href="/" class="btn btn-danger">Logout</a>

    <div class="row">
      <center><h1><%=msg%></h1></center>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <b><center><h1>Fund-Transfer page</h1><hr></center></b>
           
            

        
                
                
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Amount to Transfer</label>
                    <input type="text" class="form-control"  name="amo">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Account to Transfer</label>
                    <input type="text" class="form-control"  name="act">
                  </div>
                <button type="submit" class="btn btn-primary" name="submit" value="Fund-Transfer">Fund-Transfer</button>
         

        </div>
        <div class="col-md-2"></div>
    </div>
    
</body>
</html>